<div class="skills main-section">
  <h1>Skills</h1>
  <div class="info"></div>
  <ul>
    <li class="Ruby-on-Rails"><img src="<%= image_url('rails.png') %>"></li>
    <li class="Backbone.js"><img src="<%= image_url('backbone.png') %>"></li>
    <li class="Meteor.js"><img src="<%= image_url('meteor.png') %>"></li>
    <li class="JaveScript"><img src="<%= image_url('javascript.png') %>"></li>
    <li class="CSS"><img src="<%= image_url('css.png') %>"></li>
    <li class="HTML"><img src="<%= image_url('html.png') %>"></li>
    <li class="Node.js"><img src="<%= image_url('node.png') %>"></li>
    <li class="Ruby"><img src="<%= image_url('ruby.png') %>"></li>
    <li class="PostgreSQL"><img src="<%= image_url('postgres.png') %>"></li>
    <li class="Matlab"><img src="<%= image_url('matlab.png') %>"></li>
    <li class="Photoshop"><img src="<%= image_url('photoshop.png') %>"></li>
    <li class="Primiere"><img src="<%= image_url('primiere.png') %>"></li>
    <li class="After-Effects"><img src="<%= image_url('aftereffects.png') %>"></li>
    <li class="Audacity"><img src="<%= image_url('audacity.png') %>"></li>
    <li class="Blender"><img src="<%= image_url('blender.png') %>"></li>
    <li class="Gimp"><img src="<%= image_url('gimp.png') %>"></li>
    <li class="Solidworks"><img src="<%= image_url('solidworks.png') %>"></li>
    <li class="AutoCAD"><img src="<%= image_url('autocad.png') %>"></li>
    <div class="clear"></div>
  </ul>
  <div class="clear"></div>

  <div class="next-section about">
    <div class="next-section-triangle" data-next-section="about"></div>
  </div>
</div>