<!DOCTYPE html>
<html>
<head>
  <title>Norris Nakagaki Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<script>
  Asteroids.Images = {};
  Asteroids.Images.menu = new Image();
  Asteroids.Images.menu.src = "<%= image_url('outer-space.jpg') %>";
  Asteroids.Images.gameMode2 = new Image();
  Asteroids.Images.gameMode2.src = "<%= image_url('island-noplanet.jpg') %>";
  Asteroids.Images.hugeAsteroid = new Image();
  Asteroids.Images.hugeAsteroid.src = "<%= image_url('isflaksplanetResized.png') %>";

  Asteroids.Music.gameAudio1 = new Audio("<%= audio_url('test.mp3') %>");
  Asteroids.Music.gameAudio2 = new Audio("<%= audio_url('the-island-madeon-remix.mp3') %>");
  Asteroids.Music.menuAudio = new Audio("<%= audio_url('menu.mp3') %>");

  Asteroids.Music.menuAudio.addEventListener('ended', function() {
    this.currentTime = 0;
    this.play();
  }, false);

</script>

<body>
  <div class="shadow hidden"></div>
  <div class="window">
	<main>
		<div class="intro">
			<h1>Hi! I'm Norris</h1>
			<p>I am a web developer stationed in New York City, working with a variety of frameworks - Ruby on Rails, Backbone.js, and Meteor.js.</p>
      <div class="next-section intro"></div>
		</div>
		<div class="projects">
      <h1>Projects</h1>
      <ul>
        <li class="LLC"><video class="LLC" src="<%= video_url("LLC_demo.mp4") %>"></video><h1>Life Long Connections</h1></li>
        <li class="asteroids">
          <div class="front">
            <button class="collaborators">Collaborators</button>
            <video class="asteroids" src="<%= video_url("asteroids_gameplay_editted2.mp4") %>"></video>
            <h1>Asteroids</h1>
          </div>
          <div class="back">
            <img src="<%= image_url("zak.png") %>">
            <h1>Zachary Stallings</h1>
          </div>
        </li>
        <li class="princess">
          <div class="front">
            <button class="collaborators">Collaborators</button>
            <video class="princess" src="<%= video_url("princess_demo_test.mp4") %>"></video>
            <h1>Princess Diaries</h1>
          </div>
          <div class="back">
            <img src="<%= image_url("john.jpg") %>">
            <h1>John Zhang</h1>
          </div>
        </li>
        <li class="snake-game">
          <div class="front">
            <button class="collaborators">Collaborators</button>
            <video class="snake-game" src="<%= video_url("snake_gameplay_cropped.mp4") %>"></video>
            <h1>Snake Game</h1>
          </div>
          <div class="back">
            <img src="<%= image_url("colin.jpg") %>">
            <h1>Colin Day</h1>
          </div>
        </li>
        <li class="trello"><video class="trello" src="<%= video_url("trello_demo_cropped.mp4") %>"></video><h1>Trello Clone</h1></li>
        <li class="chess">
          <div class="front">
            <button class="collaborators">Collaborators</button>
            <video class="chess" src="<%= video_url("chess_demo.mp4") %>"></video>
            <h1>Chess</h1>
          </div>
          <div class="back">
            <img src="<%= image_url("colin_jackson.jpg") %>">
            <h1>Colin Jackson</h1>
          </div>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="next-section projects"></div>
    </div>
		<div class="about">
      <h1>About</h1>
      <p><strong>I started coding&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;when I was in college (Cooper Union), where I needed to solve differential equations and do various numerical analyses using Matlab. As a chemical engineering major, I used numerical analysis to solve problems and to simulate various equipments such as heat exchangers and reactors. Though Matlab does come with its own differential equation solvers, I often found myself using my own runge-kutta solver. I very much enjoyed coding and it became a hobby to make programs that solved games, such as "Sudoku" and "Move the Box", and problems such as the ones in <a href="https://projecteuler.net/" target="_blank">Project Euler</a>.</p>
      <p><strong>In Cooper Union</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; on top of being introduced to coding with Matlab, I was exposed to a variety of software. Much of them were engineering software that I used in class - AutoCAD for making drafts, SolidWorks for making 3D models, and Fluent and Comsol for fluid simulations. Interestingly, one of the classes that I coded the most in was neuro-science. I had many complex programming projects in that class. For example, one project was to model action potentials of neurons and find the firing rate with a gaussian frame to relate the firing rate to specific actions. After this class, I felt really confident with Matlab and felt like I could do anything I wanted in it. After graduating from Cooper Union with a bachelors degree in chemical engineering, I still was not sure what I wanted to do with my life so I decided to go for a masters in chemical engineering, again at Cooper Union.</p>
      <p><strong>The masters program</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;was rather laid back and when I was not working on my thesis, I had some time to think about what I wanted to do with my life, and to do what I wanted to do. One of the things I loved was breakdancing, and because of it I was exposed to some software that I had not had a chance to use while studying engineering. I decided to make <a href="https://www.youtube.com/channel/UCd8sPxNL3EC_QTshgLbfqSw" target="_blank">a youtube channel</a> for our school's club and that encouraged the learning of Premiere and AfterEffects - video editing software, Audacity - an audio editing software, and Photoshop - an image editing software. All of these seemed magical to me and I wanted to know more about how it was actually made. Furthermore, my thesis was entirely computer based and was based on hundreds of simulations of a bioreactor for the secondary treatment of wastewater, specifically 4-chlorophenol. By the time I graduated with a masters degree in chemical engineering, I realized that what I really liked doing was coding, and decided to pursue this career path by first learning at AppAcademy.</p>
      <p><strong>At AppAcademy</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I learned ruby, ruby on rails, sql, javascript, html, css, backbone, and meteor - essentials in becoming a web developer. Starting from ruby, I learned the fundamentals of programming. One of the projects was to make a simple version of ActiveRecord, which gave me a good understanding about the relational database structure that ruby on rails uses. Another project was to do the same thing with ruby on rails, giving me further understanding of how rails works in the back. After learning the fundamentals of developing websites, we finally got around to making the website actually look nice and have many cool features using javascript, html, css, backbone, and meteor.</p>
      <div class="next-section about"></div>
    </div>
		<div class="contact">
      <h1>Contact me</h1>
      <form class="contact-me">
        <input type="text" class="name" placeholder="Name">
        <input type="text" class="email" placeholder="Email">
        <textarea class="content" placeholder="Content"></textarea>
        <input type="submit" value="Send">
      </form>
      <div class="message"></div>
    </div>
	</main>
  </div>

	<div class="side-bar">
    <div class="top-curve"></div>
    <div class="top-curve2"></div>
    <div class="cover-box"></div>
    <h1>Norris Nakagaki</h1>
    <div class="triangle"></div>
    <div class="top-circle"></div>
		<img src="<%= image_url("norris-nakagaki-cropped.png") %>">
		<ul>
			<li class="intro"><div class="right-arrow"></div>Intro</li>
			<li class="projects"><div class="right-arrow"></div>Projects</li>
			<li class="about"><div class="right-arrow"></div>About</li>
			<li class="contact"><div class="right-arrow"></div>Contact</li>
		</ul>

    <ul class="links">
      <li><a class="github" href='https://github.com/nnakagaki' target='_blank'></a></li>
      <li><a class="linkedin" href='https://www.linkedin.com/pub/norris-nakagaki/26/6b2/85b' target='_blank'></a></li>
      <li><a class="facebook" href='https://www.facebook.com/itsfinetoday' target='_blank'></a></li>
      <li><a class="tumblr" href='https://www.tumblr.com/blog/nnakagaki' target='_blank'></a></li>
      <li><a class="deviantart" href='http://norisuke.deviantart.com/' target='_blank'></a></li>
      <li><a class="youtube" href='https://www.youtube.com/channel/UCd8sPxNL3EC_QTshgLbfqSw' target='_blank'></a></li>
    </ul>
	</div>

  <div class="asteroids hidden">
  <%= render('games/asteroids') %>
  </div>

  <div class="snake-game hidden">
  <%= render('games/snakeGame') %>
  </div>

	<%= yield %>

</body>

<script>
  $("video").on("mouseenter", function (event) {
    if (event.currentTarget.readyState === 4) {
      event.currentTarget.play();
    }
  });

  $("video").on("mouseleave", function (event) {
    if (event.currentTarget.readyState === 4) {
      event.currentTarget.pause();
      event.currentTarget.currentTime = 0;
    }
  });

  $("div.projects li.LLC").on("click", function (event) {
    $("body").append("<div class='info-modal init'><h1>Life Long Connections</h1><div class='content'><div class='right'><video class='LLC' src='<%= video_url('LLC_demo.mp4') %>'></video><div class='iframe'>Open as iframe</div><div class='new-tab'>Open in new tab<a href='http://www.life-long-connections.com' target='_blank'></a></div><div class='github-link'><a href='https://github.com/nnakagaki/facebook-clone' target='_blank'></a></div></div><p>This app is a clone of facebook and is my final project from AppAcademy. I originally built it purely in rails, but ported it over to backbone. It covers the major features in the facebook user show page such as posts, comments, likes, profile and cover photos. Chat, notifications, and friend requests is also implemented.</p><p class='features'>Features:</p><ul><li>Saves profile and cover photos with FilePicker</li><li>Private realtime chat with Pusher</li><li>Realtime notifications and friend requests with Pusher</li><li>Find where post was posted from with the Geocoder gem</li><li>Allows for embedding of any website with the Link Thumbnailer gem</li><li>Clicking notifications auto directs and scrolls to the post of interest</li><li>User authentication for chat rooms and notification channels</li></ul></div></div>")

    $("div.info-modal div.iframe").on("click", function (event) {
      $("body").append("<iframe class='LLC' src='https://life-long-connections.herokuapp.com'></iframe>");
    });

    $("div.info-modal video").on("mouseenter", function (event) {
      if (event.currentTarget.readyState === 4) {
        event.currentTarget.play();
      }
    });

    $("div.info-modal video").on("mouseleave", function (event) {
      if (event.currentTarget.readyState === 4) {
        event.currentTarget.pause();
        event.currentTarget.currentTime = 0;
      }
    });

    setTimeout(function () {
      $("div.info-modal").removeClass("init")
      $("div.info-modal").addClass("mid")

      setTimeout(function () {
        $("div.info-modal").removeClass("mid")
        $("div.info-modal").addClass("final")
      }, 500)
    }, 100);

    $("div.shadow").removeClass("hidden");

    $("div.window").addClass("hide-overflow")
  });

  $("div.projects li.princess").on("click", function (event) {
    if (event.target !== $("div.projects li.princess button.collaborators")[0]) {
      $("body").append("<div class='info-modal init'><h1>Princess Diaries</h1><div class='content'><div class='right'><video class='princess' src='<%= video_url('princess_demo_test.mp4') %>'></video><div class='iframe'>Open as iframe</div><div class='new-tab'>Open in new tab<a href='https://princess-diary.herokuapp.com' target='_blank'></a></div><div class='github-link'><a href='https://github.com/JohnSZhang/Crater' target='_blank'></a></div></div><p>First app that I made in Meteor.js. The app was originally made in rails and backbone, but was ported to meteor.</p><p class='features'>Features:</p><ul><li>Basic user authentification</li><li>Unit testing</li></ul></div></div>")

      $("div.info-modal div.iframe").on("click", function (event) {
        $("body").append("<iframe class='princess' src='https://princess-diary.herokuapp.com'></iframe>");
      });

      $("div.info-modal video").on("mouseenter", function (event) {
        if (event.currentTarget.readyState === 4) {
          event.currentTarget.play();
        }
      });

      $("div.info-modal video").on("mouseleave", function (event) {
        if (event.currentTarget.readyState === 4) {
          event.currentTarget.pause();
          event.currentTarget.currentTime = 0;
        }
      });

      setTimeout(function () {
        $("div.info-modal").removeClass("init")
        $("div.info-modal").addClass("mid")

        setTimeout(function () {
          $("div.info-modal").removeClass("mid")
          $("div.info-modal").addClass("final")
        }, 500)
      }, 100);

      $("div.shadow").removeClass("hidden");

      $("div.window").addClass("hide-overflow")
    }
  });

  $("div.projects li.asteroids div.front").on("click", function (event) {
    if (event.target !== $("div.projects li.asteroids button.collaborators")[0]) {
      $("body").append("<div class='info-modal init'><h1>Asteroids</h1><div class='content'><div class='right'><video class='asteroids' src='<%= video_url('asteroids_gameplay_editted2.mp4') %>'></video><div class='iframe'>Play Game</div><div class='github-link'><a href='https://github.com/nnakagaki/asteroid-game' target='_blank'></a></div></div><p>Game made in JavaScript using Canvas.</p><p class='features'>Features:</p><ul><li>Audio visualizer in main screen</li><li>Smooth controls from ship following mouse position</li><li>Asteroids interact with music</li><li>Boss Battle</li><li>Awesome music from Misha Mishenko and Madeon!</li></ul><p class='features'>Controls:</p><ul><li>W or up-key to move ship towards mouse</li><li>S or down-key to move ship away from mouse</li><li>Click or space to shoot bullets</li><li>ESC to pause</li></ul></div></div>")

      $("div.info-modal div.iframe").on("click", function (event) {
        $("div.asteroids").removeClass("hidden");
        $("div.info-modal").addClass("hidden");
        Asteroids.Music.menuAudio.volume = 1;
        Asteroids.Music.menuAudio.currentTime = 0;
        Asteroids.Music.menuAudio.play();

        $(window).on("keyup", function (event) {
          if (event.keyCode === 13) {
            toggleFullScreen($("div.asteroids")[0]);
          }
        })
      });

      $("div.info-modal video").on("mouseenter", function (event) {
        if (event.currentTarget.readyState === 4) {
          event.currentTarget.play();
        }
      });

      $("div.info-modal video").on("mouseleave", function (event) {
        if (event.currentTarget.readyState === 4) {
          event.currentTarget.pause();
          event.currentTarget.currentTime = 0;
        }
      });

      setTimeout(function () {
        $("div.info-modal").removeClass("init")
        $("div.info-modal").addClass("mid")

        setTimeout(function () {
          $("div.info-modal").removeClass("mid")
          $("div.info-modal").addClass("final")
        }, 500)
      }, 100);

      $("div.shadow").removeClass("hidden");
      $("div.window").addClass("hide-overflow");
    }
  });

  $("div.projects li.snake-game div.front").on("click", function (event) {
    if (event.target !== $("div.projects li.snake-game button.collaborators")[0]) {
      $("body").append("<div class='info-modal init'><h1>Snake Game</h1><div class='content'><div class='right'><video class='snake-game' src='<%= video_url('snake_gameplay_cropped.mp4') %>'></video><div class='iframe'>Play Game</div><div class='github-link'><a href='https://github.com/nnakagaki/snake' target='_blank'></a></div></div><p>Game made in JavaScript using Canvas.</p><p class='features'>Features:</p><ul><li>Audio visualizer in main screen</li><li>Smooth controls from ship following mouse position</li><li>Asteroids interact with music</li><li>Boss Battle</li><li>Awesome music from Misha Mishenko and Madeon!</li></ul></div></div>")

      $("div.info-modal div.iframe").on("click", function (event) {
        $("div.snake-game").removeClass("hidden");
        $("div.info-modal").addClass("hidden");
      });

      $("div.info-modal video").on("mouseenter", function (event) {
        if (event.currentTarget.readyState === 4) {
          event.currentTarget.play();
        }
      });

      $("div.info-modal video").on("mouseleave", function (event) {
        if (event.currentTarget.readyState === 4) {
          event.currentTarget.pause();
          event.currentTarget.currentTime = 0;
        }
      });

      setTimeout(function () {
        $("div.info-modal").removeClass("init")
        $("div.info-modal").addClass("mid")

        setTimeout(function () {
          $("div.info-modal").removeClass("mid")
          $("div.info-modal").addClass("final")
        }, 500)
      }, 100);

      $("div.shadow").removeClass("hidden");
      $("div.window").addClass("hide-overflow");
    }
  });

  $("div.projects li.trello").on("click", function (event) {
    $("body").append("<div class='info-modal init'><h1>Trello Clone</h1><div class='content'><div class='right'><video class='trello' src='<%= video_url('trello_demo_cropped.mp4') %>'></video><div class='iframe'>Open as iframe</div><div class='new-tab'>Open in new tab<a href='https://norris-trello-clone.herokuapp.com' target='_blank'></a></div><div class='github-link'><a href='https://github.com/nnakagaki/trello-clone' target='_blank'></a></div></div><p>This was the first one page app that I build using backbone and rails. The features ar pretty basic but I tried to clone the actual website closely in terms of CSS.</p><p class='features'>Features:</p><ul><li>Sortable lists and cards using JQuery UI</li><li>Basic user authentication</li><li>todo: facebook login</li><li>todo: actionmailer</li><li>todo: AJAX</li></ul></div></div>")

    $("div.info-modal div.iframe").on("click", function (event) {
      $("body").append("<iframe class='trello' src='https://norris-trello-clone.herokuapp.com'></iframe>");
    })

    $("div.info-modal video").on("mouseenter", function (event) {
      if (event.currentTarget.readyState === 4) {
        event.currentTarget.play();
      }
    });

    $("div.info-modal video").on("mouseleave", function (event) {
      if (event.currentTarget.readyState === 4) {
        event.currentTarget.pause();
        event.currentTarget.currentTime = 0;
      }
    });

    setTimeout(function () {
      $("div.info-modal").removeClass("init")
      $("div.info-modal").addClass("mid")

      setTimeout(function () {
        $("div.info-modal").removeClass("mid")
        $("div.info-modal").addClass("final")
      }, 500)
    }, 100);

    $("div.shadow").removeClass("hidden");

    $("div.window").addClass("hide-overflow")
  });

  $("div.projects li.chess").on("click", function (event) {
    $("body").append("<div class='info-modal init'><h1>Chess</h1><div class='content'><div class='right'><video class='chess' src='<%= video_url('chess_demo.mp4') %>'></video><div class='github-link'><a href='https://github.com/nnakagaki/chess' target='_blank'></a></div></div><p>Game of chess made in Ruby</p><p class='features'>Features:</p><ul><li>Implements the less known rules such as castling and en-passant</li><li>Save/Load game files</li></ul></div></div>")

    $("div.info-modal div.iframe").on("click", function (event) {
      $("body").append("<iframe class='trello' src='https://norris-trello-clone.herokuapp.com'></iframe>");
    })

    $("div.info-modal video").on("mouseenter", function (event) {
      if (event.currentTarget.readyState === 4) {
        event.currentTarget.play();
      }
    });

    $("div.info-modal video").on("mouseleave", function (event) {
      if (event.currentTarget.readyState === 4) {
        event.currentTarget.pause();
        event.currentTarget.currentTime = 0;
      }
    });

    setTimeout(function () {
      $("div.info-modal").removeClass("init")
      $("div.info-modal").addClass("mid")

      setTimeout(function () {
        $("div.info-modal").removeClass("mid")
        $("div.info-modal").addClass("final")
      }, 500)
    }, 100);

    $("div.shadow").removeClass("hidden");

    $("div.window").addClass("hide-overflow")
  });

  $("div.shadow").on("click", function (event) {
    $("iframe").remove();
    $("div.info-modal").remove();
    $(event.currentTarget).addClass("hidden");
    $("div.window").removeClass("hide-overflow");
    $("div.asteroids").addClass("hidden");
    Asteroids.Music.menuAudio.pause();
    Asteroids.Music.menuAudio.currentTime = 0;
    if (typeof window.ast !== "undefined") {
      window.ast.closeGame();
    }

    $("div.snake-game").addClass("hidden");
  });

  $("div.side-bar li.intro").on("click", function (event) {
    $('html, body').animate({
        scrollTop: $("main div.intro").offset().top
    }, 300);
  });

  $("div.side-bar li.projects").on("click", function (event) {
    $('html, body').animate({
        scrollTop: $("main div.projects").offset().top
    }, 300);
  });

  $("div.side-bar li.about").on("click", function (event) {
    $('html, body').animate({
        scrollTop: $("main div.about").offset().top
    }, 300);
  });

  $("div.side-bar li.contact").on("click", function (event) {
    $('html, body').animate({
        scrollTop: $("main div.contact").offset().top
    }, 300);
  });

  $("div.next-section.intro").on("click", function (event) {
    $('html, body').animate({
        scrollTop: $("main div.projects").offset().top
    }, 300);
  });

  $("div.next-section.projects").on("click", function (event) {
    $('html, body').animate({
        scrollTop: $("main div.about").offset().top
    }, 300);
  });

  $("div.next-section.about").on("click", function (event) {
    $('html, body').animate({
        scrollTop: $("main div.contact").offset().top
    }, 300);
  });

  $("form.contact-me").on("submit", function (event) {
    event.preventDefault();

    var name = $("form.contact-me input.name").val();
    var email = $("form.contact-me input.email").val();
    var content = $("form.contact-me textarea").val();

    if (name === "") {
      $("div.contact div.message").append("Name cannot be empty! ");
      setTimeout(function () {
        $("div.contact div.message").html("");
      }, 5000)
    }

    if (email === "") {
      $("div.contact div.message").append("Email cannot be empty! ");
      setTimeout(function () {
        $("div.contact div.message").html("");
      }, 5000)
    }

    if (content === "") {
      $("div.contact div.message").append("Content cannot be empty! ");
      setTimeout(function () {
        $("div.contact div.message").html("");
      }, 5000)
    }

    if ((name !== "") && (email !== "") && (content !== "")) {
      $.ajax({
        url: "/contact_me",
        type: "GET",
        data: {mail: {name: name, email: email, content: content}},
        success: function (res) {
          $("form.contact-me input.name").val("");
          $("form.contact-me input.email").val("");
          $("form.contact-me textarea").val("");
          $("div.contact div.message").html("Email sent!");
          setTimeout(function () {
            $("div.contact div.message").html("");
          }, 5000)
        }
      });
    }
  });
</script>

<script>
  var astCollab = function () {
    $("div.projects li.asteroids button.collaborators").one("click", function (event) {
      $("div.projects li.asteroids").addClass("flip");
      setTimeout(function () {
        $("div.projects li.asteroids").removeClass("flip");
        astCollab();
      }, 1500)
    })
  }

  astCollab();

  var snakeCollab = function () {
    $("div.projects li.snake-game button.collaborators").one("click", function (event) {
      $("div.projects li.snake-game").addClass("flip");
      setTimeout(function () {
        $("div.projects li.snake-game").removeClass("flip");
        snakeCollab();
      }, 1500)
    })
  }

  snakeCollab();

  var princessCollab = function () {
    $("div.projects li.princess button.collaborators").one("click", function (event) {
      $("div.projects li.princess").addClass("flip");
      setTimeout(function () {
        $("div.projects li.princess").removeClass("flip");
        princessCollab();
      }, 1500)
    })
  }

  princessCollab();

  var chessCollab = function () {
    $("div.projects li.chess button.collaborators").one("click", function (event) {
      $("div.projects li.chess").addClass("flip");
      setTimeout(function () {
        $("div.projects li.chess").removeClass("flip");
        chessCollab();
      }, 1500)
    })
  }

  chessCollab();
</script>

<script>
  $("div.projects ul li").css("height", 51+$("div.projects ul li").width()*750/1250);
  $("div.projects ul li div.back img").css("height", $("div.projects ul li").width()*750/1250);
  $(window).on("resize", function (event) {
    $("div.projects ul li").css("height", 51+$("div.projects ul li").width()*750/1250);
    $("div.projects ul li div.back img").css("height", $("div.projects ul li").width()*750/1250);
  })

  function toggleFullScreen(el) {
    if (!document.fullscreenElement &&    // alternative standard method
        !document.mozFullScreenElement && !document.webkitFullscreenElement && !document.msFullscreenElement ) {  // current working methods
      if (el.requestFullscreen) {
        el.requestFullscreen();
      } else if (el.msRequestFullscreen) {
        el.msRequestFullscreen();
      } else if (el.mozRequestFullScreen) {
        el.mozRequestFullScreen();
      } else if (el.webkitRequestFullscreen) {
        document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
      }
    } else {
      if (document.exitFullscreen) {
        document.exitFullscreen();
      } else if (document.msExitFullscreen) {
        document.msExitFullscreen();
      } else if (document.mozCancelFullScreen) {
        document.mozCancelFullScreen();
      } else if (document.webkitExitFullscreen) {
        document.webkitExitFullscreen();
      }
    }
  }

</script>

</html>
