<!DOCTYPE html>
<html>
<head>
  <title>Norris Nakagaki Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66232031-1', 'auto');
  ga('send', 'pageview');
</script>

<body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N4B54J"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N4B54J');</script>
  <!-- End Google Tag Manager -->
  <%= render :partial => 'shared/loading_fullscreen' %>

  <%= render :partial => 'shared/sidebar' %>
  <div class="shadow hidden"></div>
  <div class="window js-show-after-load hidden">
  	<main>
  		<%= render :partial => 'shared/intro_section' %>
  		<%= render :partial => 'shared/projects_section' %>
      <%= render :partial => 'shared/skills_section' %>
      <%= render :partial => 'shared/about_section' %>
  		<%= render :partial => 'shared/contact_me_section' %>
  	</main>
  </div>

  <div class="asteroids hidden">
  <%= render :partial => 'games/asteroids' %>
  </div>

  <div class="snake-game hidden">
  <%= render :partial => 'games/snakeGame' %>
  </div>

	<%= yield %>

</body>

<script>
  $(window).load(function() {
    $(".js-hide-after-load").fadeOut(function() {
      $(".js-show-after-load").css({ display: "none" }).removeClass("hidden").fadeIn(function() {
        $(window).resize().scroll();
      });
    });
  });

  if (Portfolio.utils.isSafari()) {
    Portfolio.ProjectsSection.videoUrls = {
      LLC       : "<%= video_url('LLC_demo.mp4') %>",
      princess  : "<%= video_url('princess_demo_test.mp4') %>",
      asteroids : "<%= video_url('asteroids_gameplay_editted2.mp4') %>",
      snake     : "<%= video_url('snake_gameplay_cropped.mp4') %>",
      trello    : "<%= video_url('trello_demo_cropped.mp4') %>",
      chess     : "<%= video_url('chess_demo.mp4') %>"
    };
  } else {
    Portfolio.ProjectsSection.videoUrls = {
      LLC       : "<%= video_url('LLC_demo.ogg') %>",
      princess  : "<%= video_url('princess_demo_test.ogg') %>",
      asteroids : "<%= video_url('asteroids_gameplay_editted2.ogg') %>",
      snake     : "<%= video_url('snake_gameplay_cropped.ogg') %>",
      trello    : "<%= video_url('trello_demo_cropped.ogg') %>",
      chess     : "<%= video_url('chess_demo.ogg') %>"
    };
  }

  Portfolio.ProjectsSection.initialize();
  Portfolio.ContactMeSection.initialize();
  Portfolio.SkillsSection.initialize();
  Portfolio.sidebar.initialize();

  $(".shadow").on("click", function (event) {
    $("iframe").remove();
    $(".info-modal").remove();
    $(event.currentTarget).addClass("hidden");
    $(".window").removeClass("hide-overflow");
    $(".asteroids").addClass("hidden");
    Asteroids.Music.menuAudio.pause();
    Asteroids.Music.menuAudio.currentTime = 0;
    if (typeof window.ast !== "undefined") {
      window.ast.closeGame();
    }

    $(".snake-game").addClass("hidden");

    $(window).scrollTop(window.yCorrToReturnTo);
  });

  $(".next-section-triangle").on("click", function (event) {
    $('html, body').animate({
      scrollTop: $("main .main-section."+$(event.currentTarget).data("next-section")).offset().top
    }, 300);
  });
</script>

</html>
